.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #eaeaea;
}

.main-content {
  display: flex;
  padding-top: 20px;
}

.left-column {
  flex: 2;
  padding-right: 20px;
}

.right-column {
  flex: 1;
}

.transaction-table {
  margin-top: 20px;
}

.transaction-table table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.statistics-box {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 10px 0;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

.transaction-boxes {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.transaction-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.transaction-box:hover {
  background-color: #f0f0f0;
}
